@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: #b7edff;
}

.header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px); 
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 100;
}

.branding {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.name {
    color: #3d9a8b;
}

.top-nav {
    overflow: hidden;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav li {
    float: right;
    margin-left: 10px;
}

.top-nav a {
    display: block;
    color: #3d9a8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 7px
}

.top-nav a:hover {
    background-color: #ffffffa0;
    color: #2eb19f;
}

.top-nav a.cta-button {
    background-color: #3d9a8b; 
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 16px;
}

.top-nav a.cta-button:hover {
    background-color: #2eb19f; 
}

.image-container {
    width: 450px; 
    height: 450px;
    overflow: hidden;
    border-radius: 50%; 
}

.self-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.text {
    width: 50%; 
}

section {
    height: 100vh; 
    padding: 20px;
    margin: 0; 
}

section#home {
    height: auto;
}

section#about {
    
}

section#skills {
    
}

section#contact {
    
}