@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: #b7edff;
}

.header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px); 
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

.branding {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.name {
    color: #3d9a8b;
}

.top-nav {
    overflow: hidden;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav li {
    float: right;
    margin-left: 10px;
}

.top-nav a {
    display: block;
    color: #3d9a8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 7px
}

.top-nav a:hover {
    background-color: #ffffffa0;
    color: #2eb19f;
}

.top-nav a.cta-button {
    background-color: #3d9a8b; 
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.top-nav a.cta-button:hover {
    background-color: #2eb19f; 
}

.image-container {
    width: 450px; 
    height: 450px;
    overflow: hidden;
    border-radius: 50%; 
}

.self-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.text {
    width: 50%; 
}

h1 {
    font-size: 48px; 
}

h2 {
    font-size: 18px; 
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-size: 16px;
}

/* Update the following styles in your existing CSS */

.services-container {
    display: flex;
    justify-content: center;
    max-width: 1000px; /* Increased max-width for a larger container */
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

.services-container h2 {
    font-size: 2em;
    margin-bottom: 30px;
    width: 100%;
}

.service-icon {
    max-width: 50px; /* Set a maximum width for the icons */
    margin-bottom: 10px; /* Add space between the icon and the title */
}

.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    flex: 1;
    max-width: 300px;
    text-align: center; /* Center text in the card */
}

.service-card h4 {
    color: #3d9a8b;
}

.service-card p {
    color: #555;
}

section {
    height: 100vh; 
    padding: 20px;
    margin: 0; 
}

section#home {
    height: auto;
}

section#services {
    height: auto;
    padding: 100px 0px;
    background-color: #9ce6ff;
}

section#about {
    /* height: auto; */
}

section#skills {
    /* height: auto; */
}

section#contact {
    /* height: auto; */
}